<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leahy.utils">


    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--读写sdC-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--通知-->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application>
        <activity
            android:name=".activity.ActivityPhotos"
            android:theme="@style/translucent"/>
    </application>
</manifest>
